{% extends 'admin.base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<a href="{{ path('produit_new_admin') }}" class="btn btn-primary pull-right">Créer un nouveau produit
	</a>
	<h1>Les produits</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Description</th>
				<th>Disponible</th>
				<th>Referance</th>
				<th>Etat</th>
				<th>Price</th>
				<th>actions</th>
				<th>actions</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for produit in produits %}
				<tr>
					<td>{{ produit.titre }}</td>
					<td>{{ produit.description }}</td>
					<td>{{ produit.disponible ? 'Oui' : 'Non' }}</td>
					<td>{{ produit.reference }}</td>
					<td>{{ produit.etat }}</td>
					<td>{{ produit.formattedPrice }}€</td>
					<td>
						<form method="post" action="{{ path('produit_delete_admin', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
							<button class="btn btn-danger">Delete</button>
						</form>
					</td>
					<td>
						<a href="{{ path('produit_edit_admin', {'id': produit.id}) }}" class="btn btn-primary" style="display: inline-block">Modifier</a>
					</td>
					<td>
						<a href="{{ path('produit_show_admin', {'id': produit.id}) }}" class="btn btn-secondary" style="display: inline-block">Voir</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(produits) }}
	</div>
{% endblock %}
